@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #6c63ff;
  --background-white: #ffffff;
  --background-light: #e0e0e0;
  --background-black: #070707;
  --background-dark: #2c2c2c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background-image: url("../image/pexels-bertellifotografia-3321797.jpg");
  color: var(--background-white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 60vh;
  width: 100%;
  min-width: 315px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn {
  background-color: var(--color-primary);
  color: var(--background-white);
  width: 10rem;
  height: 2.5rem;
  margin: 0 auto;

  border-radius: 5px;

  text-align: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.speakers {
  min-width: 315px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}

.speakers-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.speaker-card {
  padding: 1.25rem;
  border-radius: 5px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.speaker-card img {
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
}

.schedule {
  min-width: 315px;
  padding: 2rem;
  text-align: center;
}

.schedule h2 {
  margin-bottom: 2rem;
}

.schedule-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.schedule-item {
  background-color: var(--color-card-background);
  border-radius: 0.75rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
}

.schedule-item h3 {
  margin-bottom: 0.75rem;
}

.newsletter {
  padding: 3rem 1.5rem;
}

.newsletter-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  align-items: center;
}

.newsletter-text {
  text-align: center;
}

.newsletter-text h2 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.newsletter-text p {
  color: #888888;
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-group input {
  background-color: var(--color-card-background);
  border: 1px solid #888888;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  max-width: 32rem;
  padding: 0.75rem;
  width: 100%;
}

.newsletter-image {
  text-align: center;
}

.newsletter-image img {
  height: auto;
  max-width: 75%;
}

.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  min-width: 315px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: var(--background-light);
    color: var(--background-black);
  }

  .speaker-card {
    background-color: var(--background-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .schedule {
    color: var(--background-black);
  }

  .schedule-item {
    background-color: var(--background-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .newsletter-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter-text {
    text-align: left;
  }

  .newsletter-text p {
    color: #3f3d3d;
  }

  .form-group input {
    border: 1px solid #ccc;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--background-white);
  }

  .speaker-card {
    background-color: var(--background-black);
    box-shadow: 0 4px 8px rgba(204, 204, 204, 0.8);
  }

  .schedule {
    color: var(--background-white);
  }

  .schedule-item {
    background-color: var(--background-black);
    box-shadow: 0 4px 8px rgba(204, 204, 204, 0.8);
  }

  .newsletter-text p {
    color: #ccc;
  }

  .form-group input {
    background-color: var(--background-black);
    border: 0.09rem solid #ccc;
  }

  .form-group input::placeholder {
    color: #dacdcd;
  }
}

@media screen and (min-width: 48rem) {
  .speakers-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .speakers h2 {
    font-size: 2.5rem;
    margin: 2rem;
  }

  .speaker-card {
    padding: 2.5rem 2rem;
    border-radius: 15px;
    font-size: 1.25rem;
  }

  .speaker-card img {
    width: fit-content;
  }

  .schedule {
    padding: 4rem;
    font-size: 1.5rem;
  }

  .schedule-grid {
    grid-template-columns: repeat(2, 2fr);
  }

  .schedule-item {
    padding: 2rem;
  }

  .schedule h2 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  .newsletter-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .newsletter-text {
    text-align: left;
  }

  .footer p {
    font-size: 1.75rem;
  }
}
