@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #6c63ff;
  --background-white: #ffffff;
  --background-light: #e0e0e0;
  --background-black: #070707;
  --background-dark: #2c2c2c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.hero {
  background-image: url("../image/pexels-bertellifotografia-3321797.jpg");
  color: var(--background-white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 60vh;
  width: 100%;
  min-width: 315px;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.btn {
  background-color: var(--color-primary);
  color: var(--background-white);
  width: 10rem;
  height: 2.5rem;
  margin: 0 auto;

  border-radius: 5px;

  text-align: center;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.speakers {
  min-width: 315px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 2rem;
}

.speakers-grid {
  display: grid;

  justify-content: center;
  gap: 2rem;
  width: 80%;
  margin-bottom: 2rem;
}

.speaker-card {
  padding: 1.25rem;
  border-radius: 5px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.speaker-card img {
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
}

.schedule {
  min-width: 315px;
  padding: 2rem;
  text-align: center;
}

.schedule h2 {
  margin-bottom: 2rem;
}

.schedule-grid {
  width: 80%;
  margin: 0 auto;
}

.schedule-item {
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  text-align: left;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.newsletter {
  min-width: 315px;
}

.newsletter-grid {
  display: grid;
  gap: 3rem;
}

.newsletter-image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.newsletter-image > img {
  width: 300px;
  height: 250px;
}

.newsletter-text {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.newsletter-text h2 {
  font-size: 2.5rem;
  padding: 0 1rem;
}

.newsletter-text p {
  color: #3f3d3d;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.form-group {
  display: inline-flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 70vw;
  font-size: 1.5rem;
}

.form-group input {
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.1rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  min-width: 315px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background-color: var(--background-light);
    color: var(--background-black);
  }

  .speaker-card {
    background-color: var(--background-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .schedule {
    color: var(--background-black);
  }

  .schedule-item {
    background-color: var(--background-white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .newsletter-text p {
    color: #3f3d3d;
  }

  .form-group input {
    border: 1px solid #ccc;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-dark);
    color: var(--background-white);
  }

  .speaker-card {
    background-color: var(--background-black);
    box-shadow: 0 4px 8px rgba(204, 204, 204, 0.8);
  }

  .schedule {
    color: var(--background-white);
  }

  .schedule-item {
    background-color: var(--background-black);
    box-shadow: 0 4px 8px rgba(204, 204, 204, 0.8);
  }

  .newsletter-text p {
    color: #ccc;
  }

  .form-group input {
    background-color: var(--background-black);
    border: 0.09rem solid #ccc;
  }

  .form-group input::placeholder {
    color: #dacdcd;
  }
}

@media screen and (min-width: 48rem) {
}
