@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #2c2c2d;
  --color-secondary: #3f3f3f;
  --color-white: #ffffff;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-row: header;
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.navbar {
  margin: 1.25rem;
}

.logo {
  font-size: 2rem;
  margin-bottom: 1rem;
}

ul {
  display: grid;
  gap: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

main {
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 100vh;
}

h1,
p {
  margin: 1.25rem;
}

@media screen and (min-width: 769px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 1.5rem;
  }

  .logo {
    margin-bottom: 0;
  }

  li a {
    font-size: 1.5rem;
  }

  main {
    padding: 0 4rem;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 1.5rem;
  }
}
