* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #ff575f;
  --color-secondary: #396a4d;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: rgba(255, 255, 255, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header a {
  color: var(--color-primary);
  font-weight: 700;
  text-decoration: none;
}

headder > nav a:hover {
  text-decoration: underline;
}

.bg-img {
  width: 100%;
  min-height: 100vh;
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-width: 100%;
  position: absolute;
  top: 0;
}

main > h2 {
  color: var(--color-primary);
  font-size: 4rem;
  margin-bottom: 2rem;
  text-shadow: 0 3px 3px var(--color-black);
  -webkit-text-stroke: 1px var(--color-black);
}

.call-to-action {
  display: flex;
  gap: 2rem;
}

.call-to-action > a {
  background-color: var(--color-primary);
  border: 2px solid var(--color-white);
  border-radius: 0.5rem;
  color: var(--color-white);
  padding: 0.75rem 1.25rem;
  text-decoration: none;
}

.call-to-action > a:hover {
  background-color: var(--color-secondary);
}

footer {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 1.5rem;
  position: fixed;
  right: 0;
  bottom: 0;
}

footer > nav {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
}

footer a {
  color: var(--color-white);
  text-decoration: none;
  text-transform: uppercase;
}

footer a:hover {
  text-decoration: underline;
}
