body {
  background-color: #2c2c2f;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(10rem, 20rem) 1fr;
  margin: 0 auto;
  max-width: 74rem; /* 1184px */
}

a {
  color: #43f6c9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header {
  grid-column: span 2;
  grid-row: 1;
  border-bottom: 1px solid #fff;
  padding-bottom: 2rem;
  text-align: center;
}

nav a {
  margin: 1rem;
}

.intro {
  grid-column: 2;
  grid-row: 2;
}

main {
  grid-column: 2;
  grid-row: 3;
}

.blog-posts {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.blog-posts > article:first-child {
  grid-column: span 2;
}

.post img {
  border-radius: .5rem;
  height: auto;
  width: 100%;
}

aside {
  grid-column: 1;
  grid-row: 2 / 4;
}

aside li {
  margin: .5rem 0;
}

footer {
  grid-column: span 2;
  grid-row: 4;

  border-top: 1px solid #fff;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}