* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --pramiry-color: #2c2c2f;
  --second-color: #ffffffe0;
  --third-color: #43f6c9;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  background-color: var(--pramiry-color);
  color: var(--second-color);
  
}


.page-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(10rem, 20rem) 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    max-width: 75rem;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--third-color);
    margin: 0 10px;
}

a:hover {
  text-decoration: underline;
}

header {
    grid-row: 1;
    grid-column: span 2;
    margin: 0 auto;
    text-align: center;

}


 header h1 {
    margin: .5rem 0;
 }

 hr {
    width: 80vw;
    margin: 2rem 0;
 }


.intro {
    grid-area: 2 / 2 / 3 / -1;
    margin-bottom: 2em ;
    text-align: left;
    padding-left: .5rem;
}

.intro h2 {
    margin-bottom: 1rem;
}

.sidebar {
    grid-area: 2 / 1 / -2 / 2;
    padding: 2rem 2rem 0;
    gap: 2rem;
}

.widget ul{
    padding-left: 2rem;
    margin: 1rem 0;
}

.widget h3 {
    margin-bottom: 1rem;
}

main {
    grid-column: 2 / -1;
    grid-row: 3 / -2;
}


main h2 {
    grid-column: 1 / -1;
    margin: 1rem 0;
}

.blog-posts {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    
}



.post:first-child {
    grid-area: 1 / 1 / 2 / -1;
}



.post, .post h3, p {
    text-align: left;
    margin-bottom: 1.5rem;   
}

.post img {
    border-radius: .5rem;
    margin-bottom: 1rem;
    height: auto;
    width: 100%;
}

.read-more{
    margin-left: 0;
    font-weight: 400;
}


footer {
    width: 100%;
    grid-column: 1 / 3;
}

.container p{
    margin: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    text-align: center;
}