@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pramiry-color: #4c6daf;
    --second-color: #e0e0e0;
    --third-color: #ccc;
    --fourth-color: #2c2c2d;
    --fifth-color: #fff;
}

body {
 display: grid;
 grid-template-columns: minmax(10rem, 15rem);
 max-width: 80rem;
}