@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #4c6daf;
    --second-color: #e0e0e0;
    --third-color: #ccc;
    --fourth-color: #2c2c2d;
    --fifth-color: #fff;
}

body {
 background-color: black;
 display: grid;
 grid-template-areas: 
 "header header" 
 "sidebar content" 
 "sidebar footer";

 max-width: 80rem;
 min-height: 100vh;
 margin: 0 auto;

 font-family: Arial, sans-serif;
}

header {
    grid-area: header;
    background-color: var(--primary-color);
    color: var(--fifth-color);
    font-size: 1.5rem;
    font-weight: 700;
    height: 8vh;
    padding: 1rem;
}

.sidebar {
    background-color: var(--fourth-color);
    grid-area: sidebar;
    max-width: 20rem;
    text-align: justify;
    padding: 2rem;
    
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    color: var(--fifth-color);
    text-decoration: none;
    
}

.content {
    background-color: var(--second-color);
    grid-area: content;
    min-width: 60rem;
    min-height: 90vh;

    display: grid;
    padding: 2vw;
}

.stats-section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

 .card{
    background-color: var(--fifth-color);
    color: var(--pramiry-color);
    width: 10rem;
    height: 4rem;
    text-align: center;
    font-size: .8rem;
    padding: 1rem 0;
    font-weight: 700;
    border-radius: 3px;
}
.card p {
    padding-top: 2px;
    color: #000;
    font-size: 1rem;
}

.chart-section {
    background-color: var(--fifth-color);
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 3px;
}

.chart-section h2 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
    font-weight: 700;
}

.charts {
    display: grid;
    grid-template-areas: 
    "grafico1 grafico2 grafico3"
    "grafico4 grafico4 grafico4";
    gap: 1rem;
}

.chart-placeholder {
    background-color: var(--third-color);
    width: 100%;
    text-align: center;
    align-content: center;
}

#chart1{
    grid-area: grafico1;
    width: 100%;
    height: 20vh;
}

#chart2 {
    grid-area: grafico2;
}

#chart3 {
    grid-area: grafico3;
}

#chart4 {
    grid-area: grafico4;
    width: 100%;
    height: 20vh;
}

.table-section {
    background-color: var(--fifth-color);
    padding: 1rem;
    border-radius: 3px;
    gap: 1rem;
    height: 23vh;
}
.table-section h2 {
    margin-bottom: 1rem;
}

.table-section table {
  width: 100%;
  border-collapse: collapse; /* remove espaços entre células */
  text-align: justify;
  
}



 .table-section table thead {
    background-color: var(--pramiry-color);
    color: var(--fifth-color);
    height: 2rem;
 }
 

footer{
    
    text-align: center;
    align-content: center;
    background-color: var(--pramiry-color);
    color: var(--fifth-color);
    grid-area: footer;
    height: 5vh;
}